.header a, .header .desplegable .desplegable a {
  color: white; }

/* HEADER - NAVBAR */
.header {
  height: 35vh; }
  .header__navbar-css {
    background-color: transparent; }
  .header .dropdown-menu.show {
    display: inline-block; }
  .header .desplegable {
    background-color: transparent; }

/* INDEX */
.h1 {
  color: #ffffff;
  font-size: 500%;
  text-align: center; }

.h2 {
  color: white;
  font-size: 300%;
  text-align: center; }

/* BODY */
.body {
  background-image: url(https://images.pexels.com/photos/10831659/pexels-photo-10831659.jpeg);
  background-size: cover; }

.body-contacto {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center; }
  .body-contacto a {
    color: white;
    text-decoration: none; }
  .body-contacto p {
    color: white; }

.logo-contacto {
  width: 50px;
  height: 50px; }

/* BODY GALERIA. */
.carrusel img {
  transition: .5s; }

.extra {
  height: 466px; }

/* BODY PRECIOS */
/* GRID PRECIOS */
.body-precios {
  min-height: 70vh; }

.grid-precios {
  border: 2px solid white;
  border-radius: 3px; }
  .grid-precios div {
    color: white; }
  .grid-precios div.col {
    border: 1px solid white; }

.accordion-item {
  background-color: transparent;
  color: white;
  border-color: transparent; }

.accordion-button {
  background-color: transparent;
  color: white;
  flex-direction: column; }

.accordion-button::after {
  width: 0px;
  height: 0px; }

.accordion-body {
  text-align: center; }

.preguntas {
  background-color: transparent;
  color: white; }

/* HOVER */
.navbar-css a:hover {
  color: #df973a; }

.carrusel img:hover {
  transform: scale(1.04);
  transition: .5s; }

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  height: 210px;
  justify-content: center;
  padding: 550px 0px 0px 0px; }
  .footer a {
    display: flex; }

/* FOOTER FAQ */
.footer-faq {
  display: flex;
  align-items: center;
  height: 210px;
  justify-content: center; }
  .footer-faq a {
    display: flex; }

/* FOOTER GALERIA */
.footer-galeria {
  display: flex;
  align-items: center;
  height: 210px;
  justify-content: center; }
  .footer-galeria a {
    display: flex; }

/* FOOTER CONTACTO */
.footer-contacto {
  display: flex;
  align-items: center;
  height: 210px;
  justify-content: center; }
  .footer-contacto a {
    display: flex; }

/* FOOTER PRECIOS */
.footer-precios {
  display: flex;
  align-items: center;
  height: 0px;
  justify-content: center; }
  .footer-precios a {
    display: flex; }

/* REDES SOCIALES */
.redes-sociales {
  display: flex;
  height: 20vh;
  width: 300px;
  align-items: center;
  justify-content: center; }
  .redes-sociales ul {
    display: flex;
    height: 20vh;
    width: 300px;
    align-items: center;
    justify-content: center; }
    .redes-sociales ul li {
      display: inline-block;
      margin: 0 5px;
      width: 50px;
      height: 50px;
      text-align: center; }
      .redes-sociales ul li a {
        display: block;
        padding: 0 10px;
        color: white;
        line-height: 50px;
        font-size: 40px;
        transition: .2s; }

.redes-sociales ul:hover a {
  filter: blur(2px); }

.redes-sociales ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  filter: none; }

.redes-sociales ul li .facebook:hover {
  background-color: #3b5999; }

.redes-sociales ul li .instagram:hover {
  background-color: #e6173d; }

.redes-sociales ul li .whatsapp:hover {
  background-color: #25d366; }

@media (max-width: 768px) {
  .h1 {
    font-size: 350%; }
  .h2 {
    font-size: 200%; } }

@media (max-width: 425px) {
  .h1 {
    font-size: 200%; }
  .h2 {
    font-size: 150%; } }

@media (max-width: 375px) {
  .h1 {
    font-size: 200%; }
  .h2 {
    font-size: 150%; } }

@media (max-width: 934px) {
  .body-precios {
    background-repeat: no-repeat;
    min-height: 80vh; } }

@media (max-width: 768px) {
  .body {
    background-repeat: no-repeat; } }

@media (max-width: 768px) {
  .footer-precios {
    height: 0px;
    padding: 150px 0px 40px 0px; }
  .redes-sociales {
    height: 0px;
    padding: 0px 0px 40px 0px; }
  .redes-sociales ul {
    height: 0px; } }

@media (max-width: 425px) {
  .footer {
    height: 0px;
    padding: 250px 0px 40px 0px; }
  .redes-sociales {
    height: 0px;
    padding: 0px 0px 40px 0px; }
  .redes-sociales ul {
    height: 0px; }
  .footer-faq {
    height: 0px;
    padding: 250px 0px 40px 0px; }
  .redes-sociales {
    height: 0px;
    padding: 0px 0px 40px 0px; }
  .redes-sociales ul {
    height: 0px; }
  .footer-precios {
    height: 0px;
    padding: 150px 0px 40px 0px; }
  .redes-sociales {
    height: 0px;
    padding: 0px 0px 40px 0px; }
  .redes-sociales ul {
    height: 0px; } }

@media (max-width: 768px) {
  .carousel img {
    width: 500px; }
  .extra {
    height: 333px; } }

@media (max-width: 500px) {
  .carousel img {
    width: 400px; }
  .extra {
    height: 271px; } }

@media (max-width: 375px) {
  .carousel img {
    width: 300px; }
  .extra {
    height: 201px; } }
