/* HEADER - NAVBAR */
.header {
    height: 35vh;
    &__navbar-css{
        background-color: transparent;
    }
        a {
            @extend %colorLetra;
    }
     .dropdown-menu.show {
        display: inline-block;
    }
    .desplegable {
        background-color: transparent;
        .desplegable a {
            @extend %colorLetra;
        }
    }
    
}
